.info{
    margin-bottom: 2rem;
    
    &-container{
        overflow:hidden; 
        padding: 1rem 1.2rem;
        margin-bottom: 10px;
        line-height: 2rem;
        height: 110px;
        .text-content{
            font-size: 1.2rem;
           
        }
        span{
            color: #38699f;
        }
    }
    &-extend {
        padding: 10px;
        color: #38699f;
        font-size: 1.6rem;
        cursor: pointer;        
        text-align: center;
        

    }
    &-heading{
        font-size: 1.6rem;
        line-height: 4rem;
       text-align: center;
       color: $header_color;
       font-weight: 700;
    }
}
.show{
    height: auto;
}
