.postnew{
    &-container{
        padding: 32px 16px;
        margin-top: 100px;
        display:flex;
        background-color: #ffffff;
        height: 500px;
        .postnew-select{
            width: 255px;
            
        }
        .postnew1{
            flex: 1;
        }
    }
}

.select-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0;
    font-size: 1.8rem;
    .selected{
        position: relative;
        font-size: 1.4rem;
        width: 96%;
        padding: 14px 12px;
        border-radius: 4px;
        border: 1px solid #CACACA
    }
}
.select-box2{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 17000;
    padding: 15px 0;
    
}
.dark{
    
    background-color: #222222;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.option-container{
    
   
    width: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color:#ffffff;
    opacity: 1;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #222222;

}
.select-box2 .active{
    display: none;
}
.selected::after{
    content: "";
    background: url("/assets/image/Arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    
    position: absolute;
    height: 100px;
    width: 32px;
    right: 10px;
    transition: all 0.4s;

}
.option-header{
    
    padding: 10px;
    background-color: #F4F4F4;
}
.options{
    padding: 20px;
}
.option{
    
    padding: 10px;
    border: 1px solid #CACACA;
    display: flex;
    align-items: center;
    img{
        height: 28px;
        width: 28px;
    }
    input{
        display: none;
    }
    &:hover{
        background-color: #CACACA;
    }
}