.login{
    
    margin-top: 100px;
    background-color:#ffffff;
    width: 350px;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    &-container{
        background-image: url("/assets/image/login_background.webp");
        background-repeat: no-repeat;
        
       
    }
}