.login{
    width: 350px;
    height: 500px;
    position: relative;
    left: 50%;
    background-color: $light_color;
    background-image: url("/assets/image/login_background.webp");
    background-repeat: no-repeat;
    &-container{
        margin-top: 100px;
       
    }
}