.new{
    
    &-container{
      
        background-color: $light_color;
        padding: .8rem;
    }
    &-lists{
         a:hover{
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }
    &-item{
        border: 1px solid #e8e8e8;
        .image img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .content{
            padding: 1rem 1rem 3rem 1rem;
        }
    }
    &-title{
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;
        color: $header_color;
        @include texttruncate(2)
    }
    &-text{
        font-size: 1.4rem;
        line-height: 2rem;
        color: #9b9b9b;
        @include texttruncate(3)
    }
}
.swiper {
    width: 100%;
    height: auto;
  }

  

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }